/* General styles */
body {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.content {
    max-width: 600px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
}

/* Title styles */
.title h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.title h2 {
    color: #006eb6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    margin-top: 0;
}

/* Main content styles */
main p {
    text-align: left;
    margin: 15px 0;
}

.list {
    text-align: left;
    padding-left: 20px;
}

/* Footer styles */
footer .logo {
    width: 150px;
    margin-top: 20px;
}