@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Titillium+Web:wght@200&display=swap');

home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

header {

    background-color: #FC9E4F;
    color: #d9c2a3;
    display: flex;
}


.head-logo {

   
    width: 150px;
    float: left;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.sitemap {
    
    margin-left: 150px;
}
.sitemap a {

    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-right:  16px;
    padding-left: 16px;
    padding-top: 30px;
    font-size: 17px;

}

.sitemap a:hover {
    background-color: #396E94;
    color: #d9c2a3;
}


body {
    background-color: #7C9885;
}

.home-card {

    margin: 200px 0;
    

}

.gca-card {
    margin: 100px 0;
    

}

.card-img {

    border: 10px solid #510D0A;
    transition: transform .5s;
    box-shadow: 2px 2px 2px #6f7364;
    width: 200px;
    float: inline-start;
   


}


.card-p-1 {

    padding: 12px;
    font-family: 'Titillium Web', sans-serif;
    z-index: 1;

}

.card-p-2 {

    padding: 12px;    
    font-family: 'Titillium Web', sans-serif;
    z-index: 1;

}

.card-p-3 {

    padding: 12px;
    font-family: 'Titillium Web', sans-serif;
    z-index: 1;

}

footer {
    
    background-color: #362C28;
    display: flex;
}



.foot-logo {

    width: 200px;
    float: left;
    

}

.foot-sm {

    color: blanchedalmond;
    padding-top: 50px;
    padding-left: 250px;
    

}

.sm-link {

    font-family: 'Times New Roman', Times, serif;
    font-size:  20px;   
    color: whitesmoke; 
    
}

.sm-img {

    height: 15px;
    width: 15px;
    padding-left: 5px;
    padding-right: 5px;

}

.crn {

    font-family: 'Times New Roman', Times, serif;
    font-size:  10px;   
    color: whitesmoke; 
    padding-left: 1000px;
    padding-top: 20px;
    
}

