@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Titillium+Web:wght@200&display=swap');

home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

header {

    background-color: #396E94;
    color: #d9c2a3;
    display: grid;
    grid-template-columns: 150px auto;
}



.head-logo {

   width: 80px;

}

.site-map {

}

.home-card {

}

.card-img {

}

.card-p-1 {

}

.card-p-2 {

}

.card-p-3 {

}

footer {

}

.foot-box {

}

.foot-logo {

}

.foot-sm {

}

.sm-link {

}

.sm-img {

}

.crn {

}

